body { 
    text-align: center;
    background-color: rgb(218, 208, 119);
} 
capa{
    width: 80;
}
.beneficios{
    width: 100;
    text-align: line-throigh;

     background-color: rgb(252, 255, 80);
}

ul{ 
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}

li{
    padding: 25px;
    font-size: 20px;
}